html, body {
	height: 100%;
}

body {
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #221f1f;
}

.wrapper {
	min-width: 1200px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1160px;
	margin: 0 auto;

	&--flex {
		display: flex;
		justify-content: space-between;
	}

	&-form {
		max-width: 767px;
		padding: 50px 70px;
		margin: 0 auto;
		background: #f3f3f3;
		box-sizing: border-box;
	}
}

.header, .features, .footer {
	background: #131415;
	color: #fff;
}

.header {
	padding-top: 16px;
	padding-bottom: 17px;
	margin-bottom: 26px;
}

.logo:not(.logo--main):hover {
	transform: scale(1.03);
}

.banner {
	height: 486px;
	background: url(../images/banner.jpg) no-repeat center;
}

.aside-title {
	font-size: 1.286em; // 18px
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.section-title {
	font-size: 3.5em; // 49px
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 45px;

	&--center {
		text-align: center;
	}

	&--form {
		text-transform: none;
	}
}

.banner,
.news__article,
.content {
	width: 74.57%; // 865px
}

.feedback {
	margin-bottom: 50px;
}

.sidebar {
	width: 23.71%; // 275px
}

.content {
	padding-top: 10px;
}

.footer {
	margin-top: auto;
	padding: 15px 0;
}