body {
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #221f1f;
}

.wrapper {
	min-width: 1100px;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1060px;
	margin: 0 auto;

	&--block {
		box-sizing: border-box;
		padding: 0 110px 50px;
	}

	&-form {
		width: 560px;
		padding: 50px 70px;
		margin: 0 auto;
		background: #f3f3f3;
	}
}

.header,
.features,
.footer,
.sentence {
	background: #131415;
	color: #fff;
}

.header {
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom: 80px;

	& > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.banner {
	height: 486px;
	background: url(../images/banner.jpg) no-repeat center;
	margin-bottom: 60px;
}

.section-title {
	font-size: 3.5em; // 49px
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 45px;

	&--center {
		text-align: center;
	}

	&--form {
		text-transform: none;
	}
}

.news {
	padding: 65px 0;

	&__block {
		display: flex;
	}
}

.feedback {
	margin-bottom: 50px;
}

.btn {
	width: 139px;
	height: 45px;
	background-color: #131415;
	border-radius: 3px;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.8571em; // 12px
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: .15s background-color linear;

	&:hover {
		background-color: #f89513;
	}

	&:active {
		box-shadow: inset 0 0 5px #5e5e5e;
	}
}

.footer > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}