.features {
	padding-top: 60px;
	padding-bottom: 80px;

	&__list {
		display: flex;
		justify-content: space-around;
	}

	&__item {
		padding: 25px 35px 0;
		border: 1px solid black;
	}

	&__title {
		font-size: 1.286em; // 18px
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&__head {
		font-size: 0.7857em; // 11px
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		margin-bottom: 20px;
	}

	&__subs,
	&__plus {
		font-size: 1.286em; // 18px
		margin-bottom: 18px;
	}

	&__subs {
		text-align: center;
		line-height: 1.5;
	}

	&__plus {
		display: flex;
	}

	&__plus::before {
		content: "\2022";
		color: #000;
		margin-right: 25px;
	}
}