.menu {
	margin-bottom: 20px;

	&__list {
		font-size: 0.8571em; // 12px
		font-weight: 700;
		letter-spacing: .7px;
		text-transform: uppercase;
		padding-left: 65px;
	}

	&__item {
		&.active > .menu__link {
			pointer-events: none;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 10px;
		color: #221f1f;

		&::before {
			content: '';
			display: inline-block;
			margin-right: 18px;
			width: 20px;
			height: 18px;
			.iconsheet;
		}

		&--disp::before {
			.icon(-10px, -77px);
		}

		&--star::before {
			.icon(-10px, -381px);
		}

		&--service::before {
			.icon(-10px, -268px);
		}
	}
}

.menu__item.active > .menu__link,
.menu__link:hover {
	color: #f89513;
}

.menu__item.active > .menu__link--disp::before,
.menu__link--disp:hover::before {
	.icon(-10px, -43px);
}

.menu__item.active > .menu__link--star::before,
.menu__link--star:hover::before {
	.icon(-10px, -343px);
}

.menu__item.active > .menu__link--service::before,
.menu__link--service:hover::before {
	.icon(-10px, -234px);
}