.review {
	&__item {
		margin-bottom: 60px;
		margin-right: 25px;
		display: flex;
	}

	&__img {
		min-width: 160px;
		height: 160px;
		border-radius: 50%;
		margin-right: 20px;
		overflow: hidden;
		background: url(../images/comment0.jpg) center;

		& > img {
			width: 100%;
			height: auto;
		}
	}

	&__block {
		font-family: 'Roboto', sans-serif;
	}

	&__date {
		color: #656464;
		margin-bottom: 15px;
	}

	&__title,
	&__text {
		color: #221f1f;
		font-size: 1.286em; // 18px
	}

	&__title {
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__text {
		font-weight: 300;
		line-height: 1.714; // 24px
	}
}