.sentence {
	font-size: 1.286em; // 18px
	color: #fff;
	margin-bottom: 55px;

	& .container {
		background: url(../images/discount_bg.jpg) no-repeat center;
	}

	&__text {
		width: 650px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.8;
		padding: 20px 0;
	}

	&__discount {
		color: #f89513;
		font-weight: 700;

		&:hover {
			border-bottom: 1px dashed #f89513;
		}
	}
}