.social {
	&__title {
		margin-bottom: 7px;
	}

	&__item {
		display: inline-block;
		margin-right: 13px;
		background: #ffffff;
		border-radius: 50%;

		&:hover {
			background: #f89513;
		}
	}

	&__link {
		display: block;
		width: 20px;
		height: 20px;

		&--vk {
			background: url(../images/vk_icon.png) no-repeat center;
		}

		&--fb {
			background: url(../images/fb_icon.png) no-repeat center;
		}

		&--gplus {
			background: url(../images/gplus_icon.png) no-repeat center;
		}

		&--tw {
			background: url(../images/tw_icon.png) no-repeat center;
		}

		&--email {
			background: url(../images/email_icon.png) no-repeat center;
		}
	}
}